 .c {
       color:#0000ff;
       padding-bottom:20px;
       font-size:25px;
       }
.buttonI {
    color:white;
    background-color:#0000ff;
    font-size:18px;
    border:none;
     Width:70px;
      Height:30px;
}

